{{#extends 'base'}}

{{#block 'content'}}
<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
    aria-controls="offcanvasWithBothOptions">Filter Results</button>

<div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Search/Filter Results</h5>
        <button type="button" class="btn-close-white " data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="GET">
            {{{form}}}
            <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search" />
        </form>
    </div>
</div>

<a href="/products" class="btn btn-primary btn-sm">Reset Filter</a>

<a href="/products/create" class="btn btn-primary btn-sm">Create New Product</a>
{{!-- <form method="GET">

    {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search" />

</form> --}}
<table class="table mt-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost (CENTS)</th>
            <th>Players</th>
            <th>Min Age</th>
            <th>Difficulty</th>
            <th>Average Duration (MINS)</th>
            <th>Release Date</th>
            <th>Description</th>
            <th>Expansion</th>
            <th>Categories</th>
            <th>Designers</th>
            <th>Mechanics</th>
            <th>Stock</th>

            <th>Edit/Delete</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.player_min}} ~ {{this.player_max}}
            </td>
            <td>
                {{this.min_age}}
            </td>
            <td>
                {{this.difficulty.difficulty}}
            </td>
            <td>
                {{this.avg_duration}}
            </td>
            <td>
                {{this.release_date}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                <span class="badge bg-warning">{{this.origin.name}}</span>
            </td>
            <td>
                {{#each this.categories}}
                <span class="badge bg-info">{{this.category}}</span>
                {{/each}}
            </td>
            <td>
                {{#each this.designers}}
                <span class="badge bg-success">{{this.designer}}</span>
                {{/each}}
            </td>
            <td>
                {{#each this.mechanics}}
                <span class="badge bg-danger">{{this.mechanic}}</span>
                {{/each}}
            </td>
            <td>
                {{this.stock}}
            </td>

            <td>
                {{!-- {{#if employee.role.id}}
                {{#compare employee.role.id "<=" 2}} <div class="d-flex flex-column">
                    <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm mb-2">Update</a>
                    <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm mb-2">Delete</a>
                    </div>
                    {{/compare}}
                    {{#eq employee.role.id 3}}
                    <div class="d-flex flex-column">
                        <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm mb-2">Update</a>
                        <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm mb-2 disabled">Delete</a>
                    </div>
                    {{/eq}}
                    {{else}}
                    <div class="d-flex flex-column">
                        <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm disabled mb-2">Update</a>
                        <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm disabled mb-2">Delete</a>
                    </div>
                    {{/if}} --}}


                    {{!-- {{#if employee}}
                    <div class="d-flex flex-column">
                        <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm mb-2">Update</a>
                        <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm mb-2">Delete</a>
                    </div>
                    {{else}}
                    <div class="d-flex flex-column">
                        <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm disabled mb-2">Update</a>
                        <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm disabled mb-2">Delete</a>
                    </div>
                    {{/if}} --}}

                    <div class="d-flex flex-column">
                        <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm mb-2">Update</a>
                        <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm mb-2">Delete</a>
                    </div>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}